.main{
    width: 100%;
    height: 935px;
    background-color: #251180;
}
.site{
    padding-top: 2px;
}
.menu{
    background-color: #ed9121;
    height: 50px;
    width: 99%;
    margin: 10px;
    display: flex;
}
.menu h1{
    margin: 10px;
    margin-right: 930px;
    display: flex;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-lista{
    margin: 10px;
    list-style-type: none;
}
.menu-lista a{
    margin: 30px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu a:hover{
    color: red;
}
.destaque{
    background-color: #ed9121;
    height: 300px;
    width: 99%;
    margin: 10px;
}
.conteudo-main{
    background-color: #ed9121;
    height: 450px;
    width: 99%;
    display: flex;
    margin: 10px;
}
.conteudo-primario{
    background-color: #251180;
    height: 400px;
    width: 70%;
    margin: 25px;
}
.conteudo-secundario{
    background-color: #251180;
    height: 400px;
    width: 30%;
    margin: 25px;
}
.rodape{
    background-color: #ed9121;
    height: 80px;
    width: 99%;
    margin: 10px;
}